<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gtco>
            <general>
                <enable>1</enable>
            </general>
            <attributes>
                <was_guest>0</was_guest>
                <asked_transform_guest_orders>0</asked_transform_guest_orders>
                <guest_orders_transformed>0</guest_orders_transformed>
            </attributes>
        </gtco>
    </default>
</config>
