<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Order\History">
        <plugin sortOrder="100" name="plugin_block_order_history"
                type="Osio\GuestToCustomerOrders\Plugin\Block\Order\History"/>
    </type>
</config>
