<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aliuosio" sortOrder="0">
            <label>Osio</label>
        </tab>
        <section id="gtco" translate="label" type="text" sortOrder="1013" showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <tab>Osio</tab>
            <label>Guest To Customer Orders</label>
            <class>separator-top</class>
            <resource>Osio_GuestToCustomerOrders::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Configuration</label>
                <comment><![CDATA[Enable Guest Orders transformaion to registered Customer]]></comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
